body {
  background: #4f4f4f;
  color: #fff;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-size: 24px;
}
.top-header {
  position: fixed;         /* Always sticks to top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 50px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Push down the player so it doesn't go behind the top text */
.music-player {
  margin-top: 60px;
}
.music-player {
  background: #222;
  padding: 60px;
  border-radius: 22px;
  width: 400px;
  text-align: center;
}

.controls button {
  font-size: 34px;
  margin: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.progress-container,
.volume {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
}
